@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}
.img-sm{
  max-width: 90px;
}

.img-md{
  max-width: 120px;
}

.home-banner{
  height: 90vh;
  width: 100%;
}
.slick-slider-wrapper .slick-next:before,
.slick-slider-wrapper .slick-prev:before{
  content: "";
  background-image: url('./assets/right-arrow.png');
  height: 20px; 
  width: 40px;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
}

.slick-slider-wrapper .slick-prev:before{
  left: 0;
  transform: rotate(180deg);
}
.slick-slider-wrapper .slick-next:before{
  right: 10px;
}

.banner-background{
  background-image: url('./assets/background2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.pointer{
  cursor: pointer;
}

/* navigation start */

.logo{
  max-width: 60px;
  height: auto;
}
.menu-icon{
  max-width: 35px;
  margin-left: 35px;
}

.home-navbar ul li{
  margin-left: 20px;
}
.home-navbar-subnav,
.home-navbar{
  position: sticky;
  top: 0;
  z-index: 999;
}
.home-navbar-subnav ul li a,
.home-navbar ul li a{
  color: #000;
  font-weight: 600;
}

.home-navbar-subnav .collapse{
  position: fixed;
  z-index: 10;
  background: white;
  width: 100%;
  height: 0vh;
  /* overflow-y: scroll;
  text-align: center;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.home-navbar-subnav .collapse.show{
  height: 100vh;
}



.mission-block-wrapper img.spinner-border{
  height: 100%;
  width: 100%;
  animation-duration: 2s;
  border: none;
}

.mission-block-wrapper .circle-img{
  position: absolute;
    top: 74%;
}

.car-liner-anim{
  background-image: url('./assets/car1.png');
  height: 90px;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: 80px;
    margin-top: 50px;
  animation: 40s linear infinite linear-car;
}


@keyframes linear-car{
  0%{background-position: 100% center;}
  100%{background-position: 300% center;}
}

@media (min-width: 1200px){
  .home-navbar-subnav .navbar-toggler {
    display: block;
  }
  .home-navbar-subnav .navbar-nav{
    flex-direction: column;
  }
}

/* .nav-wrapper{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  z-index: 999;
  background: linear-gradient(
90deg, rgb(21 26 27 / 6%) 16%, rgb(49 52 82 / 0%) 35%, rgb(7 8 8 / 21%) 50%);
}

.nav-wrapper .header-nav{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper .header-nav ul{
  list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-wrapper .header-nav ul li a{
  display: inline-block;
  text-decoration: none;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
} */

/* navigation end */

.slick-slider-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1250px;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    top: 0;
    bottom: 0;
    /*transform: translateY(-15%);*/
    text-align: center;
}
.slick-slider-wrapper .slick-list{
  padding-right: 50px;
  padding-left: 50px;
  height: 100% !important;
}
.slick-track{
  height: 100% !important;
}
.slick-slider{
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.slick-slide{
      display: flex !important;
    align-items: center;
    justify-content: center;
}
.slider-title{
  /* text-align: center; */
  font-size: 45px;
  color: #ffffff;  
  max-width: 100%;
}
.slider-title h2,
.slider-title p{
  margin: 0
}
.slider-title p{
  font-size:  18px;
}
.slick-slider-wrapper .slider-title h2,
.slick-slider-wrapper .slider-title p{
  position: relative;
  top: -100px;
  opacity: 0;
  transition: all 1.2s ease-in-out;

}
.slick-slider-wrapper .slider-title h2{
  transition-delay: .07s;
}
/*.slick-slider-wrapper [aria-hidden="true"] .slider-title{
  
}*/
.slick-slider-wrapper [aria-hidden="false"] .slider-title h2,
.slick-slider-wrapper [aria-hidden="false"] .slider-title p{
  opacity: 1;
  top: 0
}
.slider-title h2{
  font-size: 100px;
  font-weight: 900;
}
.slider-title p{
  text-align: left;
  font-size: 30px;
}

/* mission start */


.timeline-carousel {
  width: 100%;
  overflow-y: hidden;
  height: 70vh;
}
.timeline-controls li:first-child,
.timeline-controls li:nth-last-child(2){
  display: none;
}
.timeline-controls{
  background: #ffffff !important;
  margin-top: 2rem;
}
.timeline-carousel .timeline-card-content{
  min-height: auto;
  padding: 13px;
  border-radius: 5px;
}
.timeline-carousel .timeline-card-content .show-more{
  display: none;
}

.timeline-carousel .vertical_alternating::-webkit-scrollbar {
  display: none;
}
.timeline-carousel .vertical_alternating {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.banner-type-carousel{
  font-size: 100px;
  font-weight: 900;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;  
  transform: translateY(-50%);
  z-index: 1;
}

.banner-type-carousel #typed{
  
}


/* mission end */


/* chain development start */




/* chain development end */